/* Common shared styles */
body {
    font-family: 'Kanit', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 15px 35px;
}

.section-title {
    About Me Copy color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-des {
    color: #181818;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 150px;
}

.nav-title {
    color: #000000;
    font-size: 35px;
    font-weight: 800;
}


.nav-menu{
    color: #000000;
    font-size: 20px;
}

.nav-menu:hover {
    background-color: #FD6E0A;
    padding: 5px 10px;
    border-radius: 5px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}


/* header related style */
.header {
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Banner related style */

.banner {
    padding: 0px 0px 0px 25px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner .hero-dev {
    padding: 0px 0px 100px 30px;
    max-width: 450px;
    max-height: 450px;
}


.banner-content {
    width: 650px;
    margin-top: -150px;
}


.banner-gretting {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 650px;
    margin-bottom: 0px;
}


.banner-title {
    color:#181818;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}


.banner-para {
    margin-top: 0px;
    padding-bottom: 5px;
}


.banner .hero-img {
    width: 500px;
    display: flex;
    
}


/* main section style */
.main {
    max-width: 1140px;
    height: 550px;
    flex-shrink: 0;
    margin: 0 auto;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px;
}

.about-info-con{
    display:flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}